#corner-top-left {
    background-color: #000000;
}

#corner-top-right {
    background-color: #000000;
}

#corner-bottom-left {
    background-color: #000000;
}

#corner-bottom-right {
    background-color: #000000;
}