@import url('.config/fabric/css/colors.css');

* {
    all: unset;
    font-family: "SpaceMono NF", "SpaceMono Nerd Font", "JetBrains Mono NF",
    "JetBrains Mono Nerd Font", monospace;
}

#center {
    border: 2px solid alpha(@background, 0.1);
    border-radius: 10px;
    padding: 6px;
    background-color: alpha(@background, 0.6);
    color: @onBackground;
    /*box-shadow: 0 4px 8px 0 alpha(@shadow, 0.2), 0 6px 20px 0 alpha(@shadow, 0.19);*/
}

#panelbattery {
    border: 2px solid alpha(@background, 0.1);
    border-radius: 10px;
    padding: 6px;
    background-color: alpha(@background, 0.6);
    color: @onBackground;
    margin-left: 4px;
}

#battery {
    background-color: alpha(@surface, 0.2);
    padding: 4px 9px 4px 9px;
    border-radius: 6px;
}

#paneltray {
    border: 2px solid alpha(@background, 0.1);
    border-radius: 10px;
    padding: 6px;
    background-color: alpha(@background, 0.6);
    color: @onBackground;
    margin-right: 4px;
}

#tray {
    background-color: alpha(@surface, 0.2);
    padding: 4px 9px 4px 9px;
    border-radius: 6px;
}

#tray > button {
    margin: 0px 4px 0px 4px;
}

#tlcontainer {
    margin: 0px 3px 0px 3px;
    background-color: alpha(@surface, 0.2);
    padding: 4px 9px 4px 9px;
    border-radius: 6px;
}

#pwcontainer {
    margin-right: 3px;
    background-color: alpha(@surface, 0.2);
    padding: 0px 8px 0px 0px; /* padding: 0px 8px 0px 8px; */
    border-radius: 6px;
}

#globe {
    margin: 0px 3px 0px 3px;
    background-color: alpha(@surface, 0.2);
    padding: 4px 9px 4px 9px;
    border-radius: 6px;
}

#logo {
    margin: 0px 3px 0px 3px;
    background-color: alpha(@surface, 0.2);
    padding: 4px 9px 4px 9px;
    border-radius: 6px;
}

#workspace {
    margin-left: 4px;
}

#profile {
    background-image: url(".config/fabric/assets/profile.png");
    /*background-image: url("Pictures/wallpaper");*/
    background-size: 100%;
    border-radius: 8px;
    padding: 0px 15px 0px 15px;
    margin-right: 4px;
}

#led {
    border-radius: 100%;
    min-width: 6px;
    min-height: 6px;
    margin: 7px 3px 7px 6px;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*
animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

@keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
}
*/

#scrollarea {
    background-color: alpha(@surface, 0.2);
    min-width: 128px;
    border-radius: 6px;
    margin-left: 3px;
}

menu {
    border: solid 2px;
    border-color: alpha(@background, 0.1);
    border-radius: 10px;
    color: @onBackground;
}

menu > menuitem {
    background-color: @surface;
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

menu > menuitem:first-child {
    margin-top: 1.5px;
    border-radius: 8px 8px 0px 0px;
}

menu > menuitem:last-child {
    margin-bottom: 1.5px;
    border-radius: 0px 0px 8px 8px;
}

menu > menuitem:hover {
    background-color: @inverseOnSurface;
}

tooltip {
    border: 2px solid alpha(@background, 0.1);
    border-radius: 10px;
    background-color: @surface;
    color: @onBackground;
}

/* move into _name.css mayb */